@import './../../styles/colors.css';
@import './../../styles/fonts.css';

.sidemenu{
    background-color: var(--primary-color);
    width: 117px;
    height: calc(100vh - 91px);
}

.sidemenu_buttons{
    position: absolute;
    top: 200px;
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sidemenu_buttons button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.sidemenu_copyright p{
    position: absolute;
    bottom: 110px;
    font-size: 0.75rem;
    color: var(--secondary-color);
    transform: rotate(-90deg);
    white-space: nowrap;
}

.sidemenu_buttons_icon{
    display: block;
    border-radius: 5px;
}

.icon_container {
    padding: 5px;  
    background-color: var(--primary-color); 
    border-radius: 35px;
}
