@import './../../styles/colors.css';
@import './../../styles/fonts.css';

.greetings{
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-bottom: 6.64vh;
}

.greetings_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.greetings_title h2{
    font-size: 3rem;
    font-family: 'Roboto';
    font-weight: var(--medium);
}

.greetings_title_name{
    color: var(--tertiary-color);
}

.greetings p{
    font-size: 1.125rem;
    font-family: 'Roboto';
}